<article class="card">
  
  <section class="card__header">
    <section class="card__player">
      <img [src]="playerImage()" [alt]="playerName()" class="card__player-image" />
      <section class="card__player-name-badge">
        <span class="card__player-name">{{ playerName() }}</span>
      </section>
    </section>
    <span class="card__dorsal">{{ dorsalNumber() }}</span>
  </section>

  
  <section class="card__info">
    
    <section class="card__info-item">
      <img [src]="clubLogo()" [alt]="clubName()" class="card__info-icon" />
      <span class="card__info-text">{{ clubName() }}</span>
    </section>

    
    <section class="card__info-item">
      <svg class="card__info-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2zm9-13.5V9" />
      </svg>
      <span class="card__info-text">{{ country() }}</span>
    </section>

    
    <section class="card__info-item">
      <svg class="card__info-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
      <span class="card__info-text">{{ position() }}</span>
    </section>

    
    <section class="card__info-item">
      <svg class="card__info-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
      </svg>
      <span class="card__info-text">{{ age() }} years</span>
    </section>
  </section>

  
  <section class="card__actions">
    <button class="card__button card__button--primary">Ver perfil</button>
    <button class="card__button card__button--secondary">Ver equipo</button>
  </section>
</article>
