  .badge {            
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: var(--font-medium);
    line-height: 1;
    border-radius: var(--radius-md);

                                                                                               
    &--default {
        background-color: var(--gray-200);
        color: var(--gray-700);
     }                                                                             
    &--primary { 
        background-color: var(--primary);
        color: var(--white);
     }                                                                             
    &--success { 
        background-color: var(--success);
        color: var(--white);
     }                                                                             
    &--warning { 
        background-color: var(--warning);
        color: var(--white);
     }                                                                             
    &--danger { 
        background-color: var(--error);
        color: var(--white);
     }                                                                              
                                                                                               
    &--sm { 
        padding: var(--spacing-1);
        font-size: var(--font-sm);
     }                                                                                  
    &--md { 
        padding: var(--spacing-2);
        font-size: var(--font-base);
     }                                                                                  
    &--lg { 
        padding: var(--spacing-3);
        font-size: var(--font-lg);
     }                                                                                  
  } 