@import '../../../../styles/00-settings/variables';

.main {
  min-height: calc(100vh - 200px);
  background: var(--bg-color);
  color: var(--text-color);
  width: 100%;

  &__container {
    max-width: 1600px;
    margin: 0 auto;
    padding: var(--spacing-6) var(--spacing-4);

    @media (min-width: $breakpoint-lg) {
      padding: var(--spacing-6) var(--spacing-6);
    }

    @media (min-width: $breakpoint-xl) {
      padding: var(--spacing-6) var(--spacing-8);
    }
  }
}