@import '../../../../styles/00-settings/variables';

.main {
  min-height: calc(100vh - 12.5rem);
  background: var(--bg-color);
  color: var(--text-color);
  width: 100%;

  &__container {
    max-width: 80rem;
    margin: 0 auto;
    padding: var(--spacing-8) var(--spacing-6);
  }
}