<section class="form-checkbox">
  <label class="form-checkbox__wrapper" [for]="checkboxId">
    <input
      type="checkbox"
      [id]="checkboxId"
      [name]="name"
      [checked]="checked"
      [required]="required"
      [formControl]="control!"
      class="form-checkbox__input"
      [attr.aria-describedby]="helpText ? checkboxId + '-help' : null"
    />
    <span class="form-checkbox__label-box" aria-hidden="true">
      <span class="form-checkbox__box">
        <svg
          class="form-checkbox__icon"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="20 6 9 17 4 12"></polyline>
        </svg>
      </span>
    </span>
    <span class="form-checkbox__text">
      <ng-content>{{ label }}</ng-content>
      @if (required) {
        <span class="form-checkbox__required" aria-hidden="true">*</span>
      }
    </span>
  </label>
  @if (helpText) {
    <p [id]="checkboxId + '-help'" class="form-checkbox__help">{{ helpText }}</p>
  }
</section>
