@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin media-up($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}